<ul class="nav navbar-nav navbar-right">
  <li>
    <a href="#" dropdown>
      <span dropdownToggle class="dropdown-toggle" >{{translate.currentLang}}<span class="caret"></span></span>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem"><a class="dropdown-item" href="#" (click)="switchLanguage('cs')">
          {{ 'Czech' | translate }}</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#" (click)="switchLanguage('en')">
          {{ 'English' | translate }}</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#" (click)="switchLanguage('fr')">
          {{ 'French' | translate }}</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#" (click)="switchLanguage('de')">
          {{ 'German' | translate }}</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#" (click)="switchLanguage('es')">
          {{ 'Spanish' | translate }}</a></li>
      </ul>
    </a>
  </li>
</ul>
