




<!--&lt;!&ndash;<p class="bg-info">hello hjgeshgdfhghjgsdfjjshf.</p>&ndash;&gt;-->

<!--<div class="panel panel-default" style="height: 100%; border:0; margin:0;" >-->
  <!--<div class="page-header">-->
    <!--<h3>Bus Stop <i class="fa fa-bus" aria-hidden="true"></i></h3>-->
  <!--</div>-->
  <!--<div class="panel-heading">-->
    <!--<h3 class="panel-title"></h3>-->

    <!--&lt;!&ndash;<button *ngIf="(beginnerView === 'route')" (click)="back()" id="back"> <i  class="fa fa-chevron-left" aria-hidden="true" ></i></button>&ndash;&gt;-->
  <!--</div>-->
  <!--<div class="panel-body">-->
    <!--<ul class="list-group">-->
      <!--<li class="list-group-item">Cras justo odio</li>-->
      <!--<li class="list-group-item">Dapibus ac facilisis in</li>-->
      <!--<li class="list-group-item">Morbi leo risus</li>-->
      <!--<li class="list-group-item">Porta ac consectetur ac</li>-->
      <!--<li class="list-group-item">Vestibulum at eros</li>-->
    <!--</ul>-->
    <!--&lt;!&ndash;<div *ngIf="(beginnerView === 'tag')" class="panel-body">&ndash;&gt;-->
      <!--&lt;!&ndash;<beginner-tag-browser ></beginner-tag-browser>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div *ngIf="(beginnerView === 'route')" class="panel-body">&ndash;&gt;-->
      <!--&lt;!&ndash;<beginner-route-browser></beginner-route-browser>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--</div>-->

<!--</div>-->


<div class="panel panel-default " *ngIf="currentElement" style="height: 100%; margin:0;">
  <div class="panel-heading">
    <!--<div class="page-header">-->
      <h5>{{currentElement.tags.public_transport}}</h5>
      <small *ngIf="currentElement && currentElement.tags.name">{{currentElement.tags.name}}</small>
    <!--</div>-->
  </div>
  <div class="panel-body mainPanel">
    <div *ngIf="(beginnerView === 'main')">
    <div class="page-header" (click)="showTagBrowser()" >
      <h5>Tags <i class="fa fa-chevron-right pull-right" aria-hidden="true"></i></h5>
    </div>
    <div class="page-header" (click)="showRouteBrowser()">
      <h5>Routes <i class="fa fa-chevron-right pull-right" aria-hidden="true"></i></h5>
    </div>
    </div>
    <div *ngIf="(beginnerView === 'tag')">
      <beginner-tag-browser></beginner-tag-browser>
    </div>
    <div *ngIf="(beginnerView === 'route')">
      <beginner-route-browser></beginner-route-browser>
    </div>
  </div>

</div>

