<input id="place-input" class="on-map hidden-xs" type="text"
       placeholder="{{ 'Enter a place to go' | translate }}"
       [(ngModel)]="address" (keyup.enter)="goto()">
<input id="place-input" class="on-map visible-xs" type="text"
       placeholder="{{ 'Find a place' | translate }}"
       [(ngModel)]="address" (keyup.enter)="goto()">

<button id="goto" class="btn btn-primary on-map" href="#" container="body"
        tooltip="{{ 'Goto Place' | translate }}"
        (click)="goto()">
  <i class="fa fa-arrow-right fa"></i>
</button>
