@import '../../styles/main.less';

#x{
  z-index: 2000;
  margin-left: 1075px;
  margin-top: 75px;
  .on-map
}
#y{
  z-index: 2000;
  margin-top: 75px;
  margin-left: 1025px;
  .on-map
}
#z{
  z-index: 2000;
  margin-top: 75px;
  margin-left: 900px;
  .on-map
}
