@import '../../styles/main.less';

#nextLoc{
  z-index: 2000;
  margin-left: 750px;
  bottom: 15px;
  .on-map;
}
#prevLoc{
  z-index: 2000;
  bottom: 15px;
  margin-left: 700px;
  .on-map;
}
#quit{
  z-index: 2000;
  bottom: 15px;
  margin-left: 630px;
  .on-map;
}
