<div id="container">
  <div class="modal-header">
    <h4 class="modal-title pull-left"> Route Creation Wizard</h4>
    <i class="pull-right fa fa-times" aria-hidden="true" (click)="bsModalRef.hide()"></i>
  </div>
  <div class="modal-body text-center ">
    <div class="row full-height">
      <div class="col-md-5 full-height">
        <div id="auto-route-modal-map">
        </div>
      </div>
      <div class="col-md-7 full-height">
        <div class="panel panel-default full-height right-panel">
          <div class="panel-body">
            <div>
              <tabset [justified]="true" type="pills" #stepTabs>
                <tab heading="Step 1" (select)="jumpToStep('1')">
                  <p class="text-success step-1-text">Zoom into the required area on the map and find suggested
                    routes </p>
                  <button class="btn btn-default" type="submit" (click)="findMissingRoutes()">Find suggestions</button>
                </tab>
                <tab heading="Step 2" (select)="jumpToStep('2')">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <p class="text-success"> Select from the following suggested routes </p>
                    </div>
                    <div class="panel-body ">
                      <ul class="list-group scrollable-panel clearfix" *ngIf="newRoutesRefs.length !== 0">
                        <li class="list-group-item clearfix" *ngFor="let ref of newRoutesRefs"
                            [ngStyle]="{'background-color' : currentlyViewedRef === ref ? 'cornflowerblue': 'white'}"
                            (click)="viewSuggestedRoute(ref)">
                          <span [ngStyle]="{'color' : getTextColorForSuggestedRoutes(ref)}">
                            <strong> Route Ref: {{ref}} </strong></span>
                        </li>
                      </ul>
                    </div>

                    <div class="panel-footer clearfix">
                      <button class="btn btn-default pull-right" type="submit" (click)="useRef(currentlyViewedRef)">Use
                        Route
                      </button>
                    </div>
                  </div>
                </tab>
                <tab heading="Step 3" (select)="jumpToStep('3')">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <p class="text-success"> Sort the members by dragging or add new members by selecting from
                        map. </p>
                    </div>
                    <div class="panel-body ">
                      <button class="btn btn-default pull-right" id='Stops' [disabled]="!canStopsConnect"
                              (click)="showConnectivity('Stops')"
                              [ngStyle]="{'background-color' : mapSrv.highlightType ==='Stops' ? 'cornflowerblue': 'white'}">
                        Stops
                      </button>
                      <button class="btn btn-default pull-right" id='Platforms' [disabled]="!canPlatformsConnect"
                              (click)="showConnectivity('Platforms')"
                              [ngStyle]="{'background-color' : mapSrv.highlightType ==='Platforms' ? 'cornflowerblue': 'white'}">
                        Platforms
                      </button>
                      <div class="scrollable-panel" *ngIf="addedNewRouteMembers.length !== 0">
                        <bs-sortable
                          (ngModelChange)="reorderMembers(addedNewRouteMembers)"
                          [(ngModel)]="addedNewRouteMembers"
                          itemClass="sortable-item"
                          itemActiveClass="sortable-item-active"
                          placeholderItem="Drag here"
                          placeholderClass="sortable-item"
                          wrapperClass="sortable-wrapper"
                          [itemTemplate]="itemTemplate">
                        </bs-sortable>
                      </div>
                    </div>
                    <div class="panel-footer clearfix">
                      <button class="btn btn-default pull-right" (click)="saveStep3()">Done</button>
                    </div>
                  </div>


                </tab>
                <tab heading="Step 4">

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <p class="text-success"> Add tags for the new route. </p>
                    </div>
                    <div class="panel-body">
                      <div class="content panel panel-body panel-default scrollable-panel">
                        <table
                          class="table-responsive table-condensed table-bordered table-hover table-striped wide-table">
                          <tbody>
                          <tr *ngFor="let tag of newRoute.tags | keys; ">

                            <td>
                              <input type="text" value="{{tag.key}}" data-type="key" [readonly]="true">
                            </td>
                            <td>
                              <input type="text" value="{{tag.value}}" data-type="value"
                                     (blur)="createChangeTag('change tag', tag.key, $event)">
                            </td>
                            <td>
                              <button class="btn btn-sm btn-danger fa fa-minus"
                                      aria-hidden="true" container="body"
                                      tooltip="{{ 'Remove tag' | translate }}"
                                      (click)="createChangeTag('remove tag', tag.key)">
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <input #k class="form-control" type="text" minlength="1"
                                     placeholder="{{ 'Add new tag' | translate }}" [ngModel]="tagKey">
                            </td>
                            <td>
                              <input #v class="form-control" type="text" minlength="1"
                                     placeholder="{{ 'Add new value' | translate }}">
                            </td>
                            <td>
                              <button class="btn btn-sm btn-primary fa fa-plus" aria-hidden="true" container="body"
                                      tooltip="{{ 'Create a new tag' | translate }}"
                                      (click)="createChangeTag('add tag', k.value, v.value)">
                              </button>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="panel-footer clearfix">
                      <button class="btn btn-default pull-right" (click)="saveStep4()"> Save Route</button>
                    </div>
                  </div>


                </tab>
              </tabset>

            </div>

          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<ng-template #itemTemplate let-item="item" let-index="index">
  <li class="list-group-item"> {{index + 1}} . {{item.value.tags.public_transport}} [Name : {{item.value.tags.name}}]
    <i class="fa fa-times pull-right" (click)="removeMember(item.value.id)" aria-hidden="true"></i>
  </li>

</ng-template>
