<button id="add-marker" class="btn btn-default on-map" [class.btn-primary]="editing"
        title="Add markers by clicking on the map" (click)="toggleEditing()" btnCheckbox>
    <i class="fa fa-map-marker"></i>
</button>

<button id="remove-marker" class="btn btn-default on-map" [class.btn-primary]="removing"
        title="Remove markers by clicking on them" (click)="toggleRemoving()" btnCheckbox>
    <i class="fa fa-trash"></i>
</button>

<button id="toggle-layer" class="btn btn-default on-map" [class.btn-primary]="airportLayerAdded"
        title="Toggle the airport layer" (click)="toggleAirPortLayer()" btnCheckbox>
    <i class="fa fa-plane"></i>
</button>

<transporter></transporter>

<!--<button id="download-data" type="button" class="btn btn-primary" (click)="staticModal.show()">Static modal</button>-->

<!--<div class="modal fade" bsModal #downModal="bs-modal" [config]="{backdrop: 'static'}"-->
     <!--tabindex="-1" role="dialog" aria-labelledby="myDownModal" aria-hidden="true">-->
    <!--<div class="modal-dialog modal-lg">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<h4 class="modal-title pull-left">Data download</h4>-->
                <!--<button type="button" class="close pull-right" aria-label="Close" (click)="downModal.hide()">-->
                    <!--<span aria-hidden="true">&times;</span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<input type="text" name="queryLine" id="queryLine" disabled>-->
                <!--<textarea name="queryText" id="queryText" cols="80" rows="10"></textarea>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--<button type="button" class="btn btn-primary" (click)="upModal.show()">Static modal</button>-->

<!--<div class="modal fade" bsModal #upModal="bs-modal" [config]="{backdrop: 'static'}"-->
     <!--tabindex="-1" role="dialog" aria-labelledby="myUpModal" aria-hidden="true">-->
    <!--<div class="modal-dialog modal-lg">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<h4 class="modal-title pull-left">Changeset upload</h4>-->
                <!--<button type="button" class="close pull-right" aria-label="Close" (click)="upModal.hide()">-->
                    <!--<span aria-hidden="true">&times;</span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--TODO-->
                <!--<textarea name="ChangeSetInfo" id="ChangeSetInfo" cols="50" rows="10" disabled></textarea>-->
                <!--<input type="text" name="ChangeSetComment" id="ChangeSetComment"-->
                       <!--placeholder="Please provide short description about your changes.">-->
                <!--<input type="text" name="ChangeSetSource" id="ChangeSetSource"-->
                       <!--placeholder="Please provide information about source data for your changes.">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->