<button id="toggle-download" class="btn btn-default on-map" container="body"
        tooltip="{{ 'Toggle downloading of transport data' | translate }}"
        [class.btn-primary]="downloading"
        (click)="toggleDownloading()" (mouseenter)="showOptions()"
        btnCheckbox>
  <i class="fa fa-repeat"></i>
</button>

<button id="toggle-filter" class="btn btn-default on-map hidden" container="body"
        tooltip="{{ 'Toggle view of routes in map' | translate }}"
        [class.btn-primary]="filtering"
        (click)="toggleLinesFilter()"
        btnCheckbox>
  <i class="fa fa-filter"></i>
</button>

<transporter></transporter>

<div id="radio-highlight" *ngIf="highlightIsActive() && isRelation()">
  <div class="btn-group">
    <label class="btn btn-primary" container="body" btnRadio="Stops"
           tooltip="{{ 'Highlight connectivity between platforms of a route' | translate }}"
           [(ngModel)]="htRadioModel"
           [ngClass]="{'text-uppercase': htRadioModel === 'Stops'}"
           (click)="changeHighlight()">
      {{ 'Stops' | translate }}
    </label>
    <label class="btn btn-primary" container="body" btnRadio="Platforms"
           tooltip="{{ 'Highlight connectivity between stops of a route' | translate }}"
           [(ngModel)]="htRadioModel"
           [ngClass]="{'text-uppercase': htRadioModel === 'Platforms'}"
           (click)="changeHighlight()">
      {{ 'Platforms' | translate }}
    </label>
  </div>
</div>

<button id="clear-highlight" class="btn btn-danger on-map" *ngIf="highlightIsActive()"
        tooltip="{{ 'Disable current highlight' | translate }}" container="body" (click)="clearHighlight()">
  <i class="fa fa-times" aria-hidden="true"></i>
</button>

<editor></editor>

<div id="stats" class="hidden-xs">
  stops: {{stats.s}}, relations: {{stats.r}}, areas: {{stats.a}} masters: {{stats.m}}
</div>

<div id="selection" class="text-center"
     *ngIf="currentElement && !(errorCorrectionMode$ | async) && !((beginnerView$| async) === 'main-menu')">
  <p class="medium">{{currentElement.tags.name || currentElement.tags.public_transport || ""}} (id: {{currentElement.id
    || ""}}, type: {{currentElement.type || ""}})</p>
  <button type="button" class="btn btn-default col-md-6" container="body"
          tooltip="{{ 'Cancel selection' | translate }}"
          (click)="cancelSelection()">
    <i class="fa fa-times" aria-hidden="true"></i>
    &nbsp;{{ 'Cancel' | translate }}
  </button>

  <div id="drop-down" class="btn-group col-md-6" dropdown [dropup]=true>
    <button dropdownToggle type="button" class="btn btn-default btn-block dropdown-toggle" container="body"
            [disabled]="isDisabled()">
      &nbsp;{{ 'Open in ...' | translate }}
      <span class="caret"></span>
    </button>
    <ul *dropdownMenu id="drop-down-items" class="dropdown-menu" role="menu">
      <li role="menuitem">
        <a class="dropdown-item" href="#" tooltip="{{ 'Open in ID' | translate }}"
           (click)="openInIdEditor(currentElement)">
          &nbsp;{{ 'Open in ID' | translate }}
        </a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" href="#" tooltip="{{ 'Open JOSM and show selected element' | translate }}"
           (click)="getLoadAndZoomUrl()">
          &nbsp;{{ 'Open in JOSM' | translate }}
        </a>
      </li>
    </ul>
  </div>

  <button type="button" class="btn btn-default col-md-6" container="body"
          tooltip="{{ 'Zoom to selected element' | translate }}"
          (click)="zoomTo(currentElement)"
          [disabled]="isDisabled()">
    <i class="fa fa-search" aria-hidden="true"></i>
    &nbsp;{{ 'Show' | translate }}
  </button>
  <button type="button" class="btn btn-default col-md-6" container="body"
          tooltip="{{ 'Show more information' | translate }}"
          (click)="showInfo(currentElement)">
    <i class="fa fa-question-circle" aria-hidden="true"></i>
    &nbsp;{{ 'Info' | translate }}
  </button>
</div>
