#map2 {
  position: absolute;
  //top: 50px;
  //bottom: 0;
  width: 60%;
  height: 95%;
}

#container{
  height: 90vh;
  width: 100%;
}

#list{
  width: 900px;
}

.modal-body{
  height: 80%;
  width: 100%;
}
.modal-header{
  height: 10%;

}

.modal-footer{
  height: 10%;
}
//.modal-content{
//  height: 90vh;
//  width: 80vh;
//}
.full-height{
  height: 100%;
}
