#auto-route-modal-map {
  position: absolute;
  width: 100%;
  height: 95%;
}

#container{
  height: 90vh;
  width: 100%;
}

#list{
  width: 900px;
}

.modal-body{
  height: 80%;
  width: 100%;
}
.modal-header{
  height: 10%;

}

.modal-footer{
  height: 10%;
}

.full-height{
  height: 100%;
}


.scrollable-panel {
  height: 200px;
  overflow-y: scroll;
  width: 100%;
}

.right-panel{
  margin: 20px;
}

.step-1-text{
  margin-top: 50px;
}

li{
  text-align: left;
}

#Stops{
  margin: 5px;
}

#Platforms{
  margin: 6px;
  margin-right: 0px;
}
