<accordion>
  <accordion-group #a1 [isOpen]="false">
    <div accordion-heading class="text-center text-uppercase">
      <i class="fa fa-sitemap" aria-hidden="true"></i>&nbsp;{{ 'Relations' | translate }}
      <i class="pull-right float-xs-right fa"
         [ngClass]="{'fa-chevron-down': a1?.isOpen, 'fa-chevron-right': !a1?.isOpen}"></i>
    </div>
    <relation-browser></relation-browser>
  </accordion-group>
  <accordion-group #a2 id ="tag-browser" [isOpen]="false">
    <div accordion-heading class="text-center text-uppercase">
      <i class="fa fa-tags" aria-hidden="true"></i>&nbsp;{{ 'Tags' | translate }}
      <i class="pull-right float-xs-right fa"
         [ngClass]="{'fa-chevron-down': a2?.isOpen, 'fa-chevron-right': !a2?.isOpen}"></i>
    </div>
    <tag-browser [tagBrowserOptions]="tagBrowserOptions"></tag-browser>
  </accordion-group>
  <accordion-group #a3 id ="route-browser" [(isOpen)]="isRouteBrowserOpen" (isOpenChange)="openBrowser('route-browser')">
    <div accordion-heading class="text-center text-uppercase">
      <i class="fa fa-road" aria-hidden="true"></i>&nbsp;{{ 'Routes' | translate }}
      <i class="pull-right float-xs-right fa"
         [ngClass]="{'fa-chevron-down': a3?.isOpen, 'fa-chevron-right': !a3?.isOpen}"></i>
    </div>
    <route-browser [routeBrowserOptions]='routeBrowserOptions'></route-browser>
  </accordion-group>
  <accordion-group #a4 id ="stop-browser" [isOpen]="false">
    <div accordion-heading class="text-center text-uppercase">
      <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;{{ 'Stops/platforms' | translate }}
      <i class="pull-right float-xs-right fa"
         [ngClass]="{'fa-chevron-down': a4?.isOpen, 'fa-chevron-right': !a4?.isOpen}"></i>
    </div>
    <stop-browser></stop-browser>
  </accordion-group>
  <accordion-group #a3 [isOpen]="false" *ngIf="editing$ | async">
    <div accordion-heading class="text-center text-uppercase">
      {{ 'Suggestions for quick edit' | translate }}
      <i class="pull-right float-xs-right fa " aria-hidden="true"
         [ngClass]="{'fa-chevron-down': a2?.isOpen, 'fa-chevron-right': !a2?.isOpen}"></i>
    </div>
    <validation-browser [suggestionsBrowserOptions] = 'suggestionsBrowserOptions' ></validation-browser>
  </accordion-group>
</accordion>
