<div class="panel-group">
  <div *ngIf="listOfVariants.length === 0" class="panel panel-heading panel-default text-center">
    <h4 class="text-center text-danger">{{ 'Selected relation has no master relation.' | translate }}</h4>
    <div *ngIf="editingMode" class="text-center">
      <button class="btn btn-success" container="body"
              tooltip="{{ 'Create master for selected element/relation' | translate }}"
              [disabled]="hasMaster()"
              (click)="createMaster()">
        <i class="fa fa-sitemap" aria-hidden="true"></i>&nbsp;{{ 'Create master relation' | translate }}</button>
      <button class="btn btn-default" container="body"
              tooltip="{{ 'Search existing master relation by attributes' | translate }}"
              [disabled]=""
              (click)="showMasterModal()">
        <i class="fa fa-search" aria-hidden="true"></i>&nbsp;{{ 'Find existing master relation' | translate }}</button>
    </div>
  </div>
  <div *ngIf="listOfVariants.length > 0" class="content panel panel-body panel-default">
    This master relation contains {{listOfVariants.length}} route variants.
    <h4>{{ 'Variants of route_master' | translate }}</h4>
    <div *ngFor="let rel of listOfVariants; trackBy: trackByFn">
      <ng-container *ngIf="!rel">{{ 'Incomplete relation (click to download it by reference ID)...' | translate }}</ng-container>
      <ng-container *ngIf="rel">
        <div id="{{rel.id}}" class="explore" (click)="exploreRelation($event, rel.id)" [class.selected]="currentElement && isSelected(rel.id)">
          <span *ngIf="rel.id < 0">
            <i class="fa fa-plus" container="body" aria-hidden="true"
               tooltip="{{ 'This relation is created by you' | translate }}"></i>
          </span>
          <span *ngIf="rel.id > 0">
            <i class="fa fa-check-square-o" aria-hidden="true" container="body"
               *ngIf="rel && isDownloaded(rel.id)"
               tooltip="{{ 'Route is fully downloaded' | translate }}"></i>
            <i class="fa fa-square-o" aria-hidden="true" container="body"
               *ngIf="rel && !isDownloaded(rel.id)"
               tooltip="{{ 'Route is not fully downloaded' | translate }}"></i>
          </span>
          <span>{{rel.tags.route || "#TYPE" }} Route {{rel.tags.ref || "#REF"}}: {{rel.tags.from || "#FROM"}} => {{rel.tags.to || "#TO"}}, {{rel.tags.name || "#NAME"}}</span>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div id="modalMaster" class="modal fade" bsModal #masterModal="bs-modal" tabindex="-1" role="dialog"
     aria-labelledby="myDownloadModalLabel" aria-hidden="true"
     [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">heading</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideMasterModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group" *ngFor="let rel of listOfMasters; trackBy: trackByFn">
          <li class="list-group-item">
            <button type="button" class="btn btn-primary text-center fa fa-plus-square" container="body"
                    tooltip="{{ 'Add a route to the members of a route_master' | translate }}"
                    [disabled]="isAlreadyAdded(rel.id)"
                    (click)="changeRouteMasterMembers(rel.id)">
            </button>
            {{rel.tags.route_master || "#ROUTE_MASTER"}} <i>route <b>MASTER</b> ({{ rel.members.length }} members)</i> {{rel.tags.ref || "#REF"}}: {{rel.tags.name || "#NAME"}} (ID: {{ rel.id }} , author: {{ rel.user }})
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
