<div class="content panel panel-body panel-default">

    <div class="text-center">
        <h4 class="text-danger"
            *ngIf="listOfRelations.length === 0">There are no loaded routes (zoom map).</h4>
        <button class="btn btn-warning" *ngIf="filteredView" (click)="cancelFilter()">Cancel filter</button>
    </div>

    <div *ngIf="listOfRelationsForStop.length !== 0 && filteredView" class="small">
        <div *ngFor="let rel of listOfRelationsForStop">
            <span class="explore" (click)="exploreRelation($event, rel)"><i class="fa fa-search" aria-hidden="true"></i></span>
            <span>{{rel.tags.route || "#TYPE" }} Route {{rel.tags.ref || "#REF"}}: {{rel.tags.from || "#FROM"}} => {{rel.tags.to || "#TO"}}, {{rel.tags.name || "#NAME"}}</span>
        </div>
    </div>

    <div *ngIf="listOfRelations.length !== 0 && !filteredView" class="small">
        <ng-container *ngFor="let rel of listOfMasters">
            <div id="{{rel.id}}">
                <span class="explore" (click)="exploreMaster($event, rel)"><i class="fa fa-search" aria-hidden="true"></i></span>
                <span>{{rel.tags.route || "#TYPE" }} Route <b>MASTER</b> {{rel.tags.ref || "#REF"}}: {{rel.tags.name || "#NAME"}}</span>
            </div>
        </ng-container>
        <ng-container *ngFor="let rel of listOfRelations">
            <div id="{{rel.id}}">
                <span class="explore" (click)="exploreRelation($event, rel)"><i class="fa fa-search" aria-hidden="true"></i></span>
                <span>{{rel.tags.route || "#TYPE" }} Route {{rel.tags.ref || "#REF"}}: {{rel.tags.from || "#FROM"}} => {{rel.tags.to || "#TO"}}, {{rel.tags.name || "#NAME"}}</span>
            </div>
        </ng-container>
    </div>

</div>
