<div class="content panel panel-body panel-default">

    <div class="text-center">
        <h4 class="text-danger"
            *ngIf="listOfRelations.length === 0">There are no loaded routes (zoom map).</h4>
        <button class="btn btn-warning" *ngIf="filteredView" (click)="cancelFilter()">Cancel filter</button>
    </div>

    <div *ngIf="listOfRelationsForStop.length !== 0 && filteredView" class="small">
        <table class="table-responsive table-condensed table-bordered table-hover table-striped">
            <thead>
            <tr>
                <td></td>
                <td title="Id"><b>Id</b></td>
                <td title="Route"><b>Route</b></td>
                <td title="Reference"><b>Ref.</b></td>
                <td title="Name"><b>Name</b></td>
                <td title="Network"><b>Netw.</b></td>
                <td title="Operator"><b>Oper.</b></td>
                <td title="public_transport"><b>P_T</b></td>
                <td title="public_transport:version"><b>P_T v.</b></td>
                <td title="Type"><b>Type</b></td>
                <td title="Complete"><b>Compl.</b></td>
            </tr>
            </thead>
            <tbody #routeTableBody>
            <tr *ngFor="let rel of listOfRelationsForStop">
                <td class="explore" (click)="exploreRelation($event, rel)"><i class="fa fa-search" aria-hidden="true"></i></td>
                <td>{{rel.id}}</td>
                <td>{{rel.tags.route}}</td>
                <td>{{rel.tags.ref}}</td>
                <td>{{rel.tags.name}}</td>
                <td>{{rel.tags.network}}</td>
                <td>{{rel.tags.operator}}</td>
                <td>{{rel.tags.public_transport}}</td>
                <td>{{rel.tags["public_transport:version"]}}</td>
                <td>{{rel.tags.type}}</td>
                <td>{{rel.tags.complete}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="listOfRelations.length !== 0 && !filteredView" class="small">
        <table class="table-responsive table-condensed table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <td></td>
                    <td title="Id"><b>Id</b></td>
                    <td title="Route"><b>Route</b></td>
                    <td title="Reference"><b>Ref.</b></td>
                    <td title="Name"><b>Name</b></td>
                    <td title="Network"><b>Netw.</b></td>
                    <td title="Operator"><b>Oper.</b></td>
                    <td title="public_transport"><b>P_T</b></td>
                    <td title="public_transport:version"><b>P_T v.</b></td>
                    <td title="Type"><b>Type</b></td>
                    <td title="Complete"><b>Compl.</b></td>
                </tr>
            </thead>
            <tbody #routeTableBody>
                <tr *ngFor="let rel of listOfRelations" id="{{rel.id}}">
                    <td class="explore" (click)="exploreRelation($event, rel)"><i class="fa fa-search" aria-hidden="true"></i></td>
                    <td>{{rel.id}}</td>
                    <td>{{rel.tags.route}}</td>
                    <td>{{rel.tags.ref}}</td>
                    <td>{{rel.tags.name}}</td>
                    <td>{{rel.tags.network}}</td>
                    <td>{{rel.tags.operator}}</td>
                    <td>{{rel.tags.public_transport}}</td>
                    <td>{{rel.tags["public_transport:version"]}}</td>
                    <td>{{rel.tags.type}}</td>
                    <td>{{rel.tags.complete}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
