<div class="panel-group">
  <div *ngIf="listOfStops?.length === 0 || filteredView || ((editing$ | async) && reorderingEnabled)"
       class="panel panel-heading panel-default text-center">
    <h4 class="text-danger" *ngIf="listOfStops?.length === 0">{{ 'There are no loaded stops (zoom map).' | translate }}</h4>
    <ng-container *ngIf="filteredView">
      <button class="btn btn-warning" container="body"
              tooltip="{{ 'Cancel filter showing only nodes related to the route' | translate }}"
              (click)="cancelFilter()">
        {{ 'Cancel filter' | translate }}
      </button>
    </ng-container>
    <ng-container *ngIf="(editing$ | async) && reorderingEnabled()">
      <button class="btn btn-warning" container="body"
              tooltip="{{ 'Reorder members to have stops and platforms first' | translate }}"
              (click)="reorderMembers(currentElement)">
        {{ 'Reorder members' | translate }}
      </button>
    </ng-container>
  </div>

  <div *ngIf="filteredView || (listOfStops?.length !== 0 && !filteredView)"
       class="content panel panel-body panel-default">

    <div *ngIf="filteredView" class="medium">
      <table class="table-responsive table-condensed table-bordered table-hover wide-table">
        <thead>
        <tr>
          <td><b>#</b></td>
          <td><b>{{ 'Role' | translate }}</b></td>
          <td><b>{{ 'atrId' | translate }}</b></td>
          <td tooltip="{{ 'atrRefT' | translate }}" container="body"><b>{{ 'atrRef' | translate }}</b></td>
        </tr>
        </thead>
        <tbody *ngIf="!(editing$ | async)">
        <tr *ngFor="let stop of listOfStopsForRoute; trackBy: trackByFn; let i = index;"
            class="explore" (click)="exploreStop($event, stop)" [class.selected]="currentElement && isSelected(stop.id)">
          <td>{{i + 1}}.</td>
          <td>{{stop.role}}</td>
          <td>
            <img *ngIf="stop.tags.public_transport === 'platform'" src="/assets/transport/platform.png" alt="platform">
            <img *ngIf="stop.tags.public_transport === 'stop_position'" src="/assets/transport/bus.png" alt="stop">
            {{stop.tags.name || stop.id}}
          </td>
          <td>{{stop.tags.route_ref}}</td>
        </tr>
        </tbody>
        <tbody *ngIf="editing$ | async" [dragula]="'my-box'" [dragulaModel]="listOfStopsForRoute">
        <tr *ngFor="let stop of listOfStopsForRoute; trackBy: trackByFn; let i = index ;" class="explore" (click)="exploreStop($event, stop)" [class.selected]="currentElement && isSelected(stop.id)">
          <td>{{i + 1}}.</td>
          <td><input type="text" value="{{stop.role}}" disabled></td>
          <td>
            <img *ngIf="stop.tags.public_transport === 'platform'" src="/assets/transport/platform.png" alt="platform">
            <img *ngIf="stop.tags.public_transport === 'stop_position'" src="/assets/transport/bus.png" alt="stop">
            {{stop.tags.name || stop.id}}
          </td>
          <td>{{stop.tags.route_ref}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="listOfStops?.length !== 0 && !filteredView" class="medium">
      <table class="table-responsive table-condensed table-bordered table-hover wide-table">
        <thead>
        <tr>
          <td><b>{{ 'Name/Id' | translate }}</b></td>
          <td container="body" tooltip="{{ 'OSM public_transport tag' | translate }}"><b>PT</b></td>
          <td container="body" tooltip="{{ 'OSM route_ref tag' | translate }}"><b>{{ 'Route ref.' | translate }}</b></td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let stop of listOfStops; trackBy: trackByFn" id="{{stop.id}}" class="explore" (click)="exploreStop($event, stop)" [class.selected]="currentElement && isSelected(stop.id)">
          <td>
            <i class="fa fa-check-square-o" aria-hidden="true" container="body"
               *ngIf="isDownloaded(stop.id)"
               tooltip="{{ 'Routes related to this stop were checked and downloaded' | translate }}"></i>
            <i class="fa fa-question-circle" aria-hidden="true" container="body"
               *ngIf="!isDownloaded(stop.id)"
               tooltip="{{ 'Routes related to this stop weren not checked' | translate }}"></i>
            {{stop.tags.name || stop.id}}
          </td>
          <td>{{stop.tags.public_transport}}</td>
          <td>{{stop.tags.route_ref}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
