<div class="panel-group">
  <div class="panel panel-heading panel-default" *ngIf="!currentElement || (currentElement && editing$ | async)">
    <h4 class="text-center text-danger" *ngIf="!currentElement">{{ 'Please select a feature to browse tags.' | translate }}</h4>
    <div *ngIf="currentElement" class="medium">
      <div class="text-center" *ngIf="(editing$ | async) && (currentElement.tags.type === 'route_master' ||
                 ['platform', 'stop_position', 'station'].indexOf(currentElement.tags.public_transport) > -1)">
        <button class="btn btn-default" container="body"
                tooltip="{{ 'Train' | translate }}"
                [class.btn-primary]="currentElement.tags.train === 'yes'"
                (click)="toggleType('train')" btnCheckbox>
          <i class="fa fa-train">
            <span class="hidden-xs">&nbsp;{{ 'Train' | translate }}</span>
          </i>
        </button>
        <button class="btn btn-default" container="body"
                tooltip="{{ 'Subway' | translate }}"
                [class.btn-primary]="currentElement.tags.subway === 'yes'"
                (click)="toggleType('subway')" btnCheckbox>
          <i class="fa fa-subway">
            <span class="hidden-xs">&nbsp;{{ 'Subway' | translate }}</span>
          </i>
        </button>
        <button class="btn btn-default" container="body"
                tooltip="{{ 'Monorail' | translate }}"
                [class.btn-primary]="currentElement.tags.monorail === 'yes'"
                (click)="toggleType('monorail')" btnCheckbox>
          <i class="fa fa-train">
            <span class="hidden-xs">&nbsp;{{ 'Monorail' | translate }}</span>
          </i>
        </button>
        <button class="btn btn-default" container="body"
                tooltip="{{ 'Tram' | translate }}"
                [class.btn-primary]="currentElement.tags.tram === 'yes'"
                (click)="toggleType('tram')" btnCheckbox>
          <i class="fa fa-bus">
            <span class="hidden-xs">&nbsp;{{ 'Tram' | translate }}</span>
          </i>
        </button>
        <button class="btn btn-default" container="body"
                tooltip="{{ 'Bus' | translate }}"
                [class.btn-primary]="currentElement.tags.bus === 'yes'"
                (click)="toggleType('bus')" btnCheckbox>
          <i class="fa fa-bus">
            <span class="hidden-xs">&nbsp;{{ 'Bus' | translate }}</span>
          </i>
        </button>
        <button class="btn btn-default" container="body"
                tooltip="{{ 'Trolleybus' | translate }}"
                [class.btn-primary]="currentElement.tags.trolleybus === 'yes'"
                (click)="toggleType('trolleybus')" btnCheckbox>
          <i class="fa fa-bus">
            <span class="hidden-xs">&nbsp;{{ 'Trolleybus' | translate }}</span>
          </i>
        </button>
        <button class="btn btn-default" container="body"
                tooltip="{{ 'Aerialway' | translate }}"
                [class.btn-primary]="currentElement.tags.aerialway === 'yes'"
                (click)="toggleType('aerialway')" btnCheckbox>
          <i class="fa fa-plane">
            <span class="hidden-xs">&nbsp;{{ 'Aerialway' | translate }}</span>
          </i>
        </button>
        <button class="btn btn-default" container="body"
                [class.btn-primary]="currentElement.tags.ferry === 'yes'"
                tooltip="{{ 'Ferry' | translate }}"
                (click)="toggleType('ferry')" btnCheckbox>
          <i class="fa fa-ship">
            <span class="hidden-xs">&nbsp;{{ 'fer' | translate }}</span>
          </i>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="currentElement" class="content panel panel-body panel-default">
    <table class="table-responsive table-condensed table-bordered table-hover table-striped wide-table">
      <tbody>
      <tr *ngFor="let tag of currentElement['tags'] | keys;">
          <ng-container *ngIf="!tagBrowserOptions.limitedKeys || tagBrowserOptions.allowedKeys.includes(tag.key)">
        <td>
          <ng-container *ngIf="!(editing$ | async)">{{tag.key}}</ng-container>
          <input type="text" *ngIf="editing$ | async" value="{{tag.key}}" data-type="key"
                 (blur)="createChange('change tag', tag.key, $event)" [readonly]="tagBrowserOptions.makeKeysReadOnly" >
        </td>
        <td>
          <ng-container *ngIf="!(editing$ | async)">{{tag.value}}</ng-container>
         <input type="text" *ngIf="editing$ | async" value="{{tag.value}}" data-type="value"
                 (blur)="createChange('change tag', tag.key, $event)" >
        </td>
        <td *ngIf="editing$ | async">
          <button class="btn btn-sm btn-danger fa fa-minus"
                  aria-hidden="true" container="body"
                  tooltip="{{ 'Remove tag' | translate }}"
                  (click)="createChange('remove tag', tag.key)">
          </button>
        </td>
      </ng-container>
      </tr>
      <tr *ngIf="(editing$ | async) && !(tagBrowserOptions.limitedKeys)">
        <td>
          <input #k class="form-control" id="inputkey" type="text" minlength="1"
                 placeholder="{{ 'Add new tag' | translate }}"
                 [ngModel]="tagKey"
                 [typeahead]="expectedKeys"
                 (ngModelChange)="keyChange($event)"
                 (keyup.enter)="updateKey(k.value)"
                 (blur)="updateKey(k.value)"
                 required>
        </td>
        <td>
          <input #v class="form-control" id="inputvalue" type="text" minlength="1"
                 placeholder="{{ 'Add new value' | translate }}"
                 [ngModel]="tagValue"
                 [typeahead]="expectedValues"
                 (ngModelChange)="valueChange($event)"
                 (keyup.enter)="updateValue(v.value)"
                 (blur)="updateValue(v.value)"
                 required>
        </td>
        <td>
          <button class="btn btn-sm btn-primary fa fa-plus" aria-hidden="true" container="body"
                  tooltip="{{ 'Create a new tag' | translate }}"
                  [disabled]="isUnchanged()"
                  (click)="createChange('add tag')">
          </button>
        </td>
      </tr>
     <ng-container *ngIf="(editing$ | async) && tagBrowserOptions.limitedKeys">
      <tr *ngFor="let key of unfilledKeys">
          <td>
          <input #k type="text" value = {{key}} readonly>
          </td>
       <td>
          <input #v class="form-control" type="text" minlength="1"
                placeholder="{{ 'Add new value' | translate }}"
                 (keyup.enter)="updateValue(v.value)"
                 (blur)="updateValue(v.value)"
                 required>
        </td>
        <td>
          <button class="btn btn-sm btn-primary fa fa-plus" aria-hidden="true" container="body"
                  tooltip="{{ 'Create a new tag' | translate }}"
                  (click)="addChangeBeginnerMode(key, v.value)">
          </button>
        </td>
      </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
