<div class="content panel panel-body panel-default">
    <h4 class="text-center text-danger" *ngIf="!currentElement">Please select a feature to browse tags.</h4>

    <div *ngIf="currentElement" class="medium">
        <table class="table-responsive table-condensed table-bordered table-hover table-striped wide-table">
            <thead>
            <tr>
                <td><b>Tag key</b></td>
                <td><b>Tag value</b></td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tag of currentElement['tags'] | keys;">
                <td>
                    <ng-container *ngIf="!editingMode">{{tag.key}}</ng-container>
                    <input type="text" *ngIf="editingMode" value="{{tag.key}}" data-type="key"
                           (blur)="createChange('change tag', tag.key, $event)">
                </td>
                <td>
                    <ng-container *ngIf="!editingMode">{{tag.value}}</ng-container>
                    <input type="text" *ngIf="editingMode" value="{{tag.value}}" data-type="value"
                           (blur)="createChange('change tag', tag.key, $event)">
                </td>
                <td *ngIf="editingMode">
                    <button class="btn btn-sm btn-danger glyphicon glyphicon-minus"
                            aria-hidden="true" tooltip="Remove tag" container="body"
                            (click)="createChange('remove tag', tag.key)"></button>
                </td>
            </tr>
            <tr *ngIf="editingMode">
                <td>
                    <input #k class="form-control" id="inputkey" type="text" [ngModel]="tagKey"
                           (ngModelChange)="keyChange($event)" (keyup.enter)="updateKey(k.value)"
                           (blur)="updateKey(k.value)" placeholder="Add new tag" minlength="1" required>
                </td>
                <td>
                    <input #v class="form-control" id="inputvalue" type="text" [ngModel]="tagValue"
                           (ngModelChange)="valueChange($event)" (keyup.enter)="updateValue(v.value)"
                           (blur)="updateValue(v.value)" placeholder="Add new value" minlength="1" required>
                </td>
                <td>
                    <button class="btn btn-sm btn-default glyphicon glyphicon-plus" aria-hidden="true"
                            (click)="createChange('add tag')" [disabled]="isUnchanged()"
                            tooltip="Create new tag" container="body"></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
