<div id="tag-content" class="panel panel-body panel-default">
    <h4 class="text-center text-danger" *ngIf="!elementTags">Please select a feature to browse tags.</h4>

    <div *ngIf="elementTags" class="small">

        <table class="table-responsive table-condensed table-bordered table-hover table-striped">
            <thead>
            <tr>
                <td>Tag key</td>
                <td>Tag value</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tag of elementTags | keys;">
                <td>{{tag.key }}</td>
                <td>{{tag.value }}</td>
            </tr>
            <tr>
                <!--<form class="form-group form-inline col-xs-12" #formCtrl="ngForm">-->
                <td>
                    <input #k class="form-control" id="inputkey" type="text" [value]="tagKey"
                           (keyup.enter)="updateKey(k.value)" (blur)="updateKey(k.value)"
                           minlength="1" required>
                </td>
                <td>
                    <input class="form-control" id="inputvalue" type="text" [value]="tagValue"
                           #v (keyup.enter)="updateValue(v.value)" (blur)="updateValue(v.value)"
                           minlength="1" required>
                </td>
                <td>
                    <button class="btn btn-default glyphicon glyphicon-plus" aria-hidden="true"
                            (click)="appendNewTag()" [disabled]="isUnchanged()" ></button>
                </td>
                <!--</form>-->
            </tr>
            </tbody>
        </table>

        <!--<div> Current tag and value-->
            <!--<p>-->
                <!--{{tagKey}}-->
                <!--{{tagValue}}-->
            <!--</p>-->
            <!--<p>-->
                <!--{{elementTags | json }}-->
            <!--</p>-->
        <!--</div>-->
        <!--<div> Current changes-->
            <!--<p>-->
                <!--{{elementChanges | json }}-->
            <!--</p>-->
        <!--</div>-->

        <!--<label for="inputkey">Tags</label>-->
        <!--<form class="form-group form-inline col-xs-12" #formCtrl="ngForm">-->
            <!--<input #k class="form-control" id="inputkey" type="text" [value]="tagKey"-->
                   <!--(keyup.enter)="updateKey(k.value)" (blur)="updateKey(k.value)"-->
                   <!--minlength="1" required>-->
            <!--<input class="form-control" id="inputvalue" type="text" [value]="tagValue"-->
                   <!--#v (keyup.enter)="updateValue(v.value)" (blur)="updateValue(v.value)"-->
                   <!--minlength="1" required>-->
            <!--<button class="btn btn-default glyphicon glyphicon-plus" aria-hidden="true"-->
                    <!--(click)="appendNewTag()" [disabled]="isUnchanged"></button>-->
        <!--</form>-->
    </div>
</div>
