<div class="panel-group">
  <div class="panel panel-heading panel-default">
    <ng-container *ngIf="(errorCorrectionMode$ | async) as errorCorrectMode">

      <ng-container
        *ngIf="view('find-errors-option')">
        <p> {{'Zoom into the area where you want to run the validation.' | translate}}</p>
        <button class="btn btn-default" (click)="startValidation()"> {{'Find Errors' | translate }}</button>
      </ng-container>

      <ng-container *ngIf="(switchMode$ | async)">
        <button class="btn btn-default" type="submit" id='prevLoc' (click)="previousLocation()"><i
          class="fa fa-arrow-left" aria-hidden="true"></i></button>
        <button class="btn btn-default" type="submit" id='nextLoc' (click)="nextLocation()"><i class="fa fa-arrow-right"
                                                                                               aria-hidden="true"></i>
        </button>
        <button class="btn btn-default pull-right" type="submit" id='quit' (click)="quit()">{{'Quit' | translate }}
        </button>
      </ng-container>

    </ng-container>
  </div>
  <ng-container>

    <ng-container *ngIf="view('menu')">

      <ul class="list-group">

        <li class="list-group-item clearfix" *ngIf="view('name-errors-menu-item')">
          <ng-container *ngIf="nameErrorsObj.length !==0">
            {{nameErrorsObj.length}} {{'name tag errors' | translate }}
            <button class="btn btn-default pull-right" (click)="startNameCorrection()">
              {{'Start Correction' | translate}}
            </button>
          </ng-container>
          <ng-container *ngIf="nameErrorsObj.length ===0">
            {{ 'No missing name suggestions available' | translate}}
          </ng-container>
        </li>

        <li class="list-group-item clearfix" *ngIf="view('ref-errors-menu-item')">
          <ng-container *ngIf="refErrorsObj.length !==0">
            {{refErrorsObj.length}} {{'route references tag errors' | translate }}
            <button class="btn btn-default pull-right" (click)="startRefCorrection()">
              {{'Start Correction' | translate}}
            </button>
          </ng-container>
          <ng-container *ngIf="refErrorsObj.length ===0">
            {{ 'No missing ref suggestions available' | translate }}
          </ng-container>
        </li>

      </ul>

    </ng-container>

    <ng-container *ngIf="view('name-error-list')">
      <ul class="list-group scrollable-panel">
        <ng-container *ngFor="let nameError of nameErrorsObj; let i = index">
          <li (click)="jumpToLocation(i)" id='{{ nameError.stop.id }}-name-error-list-id' class="list-group-item"
              [style.background-color]="i===0 ? 'lightblue':'white'">
            {{i +1}}. {{getNodeType(nameError.stop)}}
            <i *ngIf="nameError.corrected === 'true'" class="fa fa-check pull-right" aria-hidden="true"></i>
            <i *ngIf="nameError.corrected === 'false'" class="fa fa-times pull-right" aria-hidden="true"></i>
          </li>
        </ng-container>
      </ul>
    </ng-container>

    <ng-container *ngIf="view('ref-error-list')">

      <ul class="list-group scrollable-panel">
        <ng-container *ngFor="let refError of refErrorsObj; let i = index">
          <li (click)="jumpToLocation(i)" id='{{ refError.stop.id }}-ref-error-list-id' class="list-group-item"
              [style.background-color]="i===0 ? 'lightblue':'white'">
            {{i +1}}. {{getNodeType(refError.stop)}}
            <ng-container *ngIf="refError.missingConnectedRefs !== null">
              [ {{refError.totalConnectedRefs - refError.missingConnectedRefs}} / {{refError.totalConnectedRefs}} {{
              'refs added' | translate }} ]
            </ng-container>
            <ng-container *ngIf="!refError.missingConnectedRefs && !refError.totalConnectedRefs ">
              {{'Missing route_ref Tag' | translate }}
            </ng-container>
            <i *ngIf="refError.corrected === 'true'" class="fa fa-check pull-right" aria-hidden="true"></i>
            <i *ngIf="refError.corrected === 'false'" class="fa fa-times pull-right" aria-hidden="true"></i>
            <i *ngIf="refError.corrected === 'partial'" class="fa fa-question pull-right" aria-hidden="true"></i>
          </li>
        </ng-container>
      </ul>
    </ng-container>

  </ng-container>
</div>
