<p>Zoom into the area where you want to run the validation.</p>
<button (click)="startValidation()">Start Validation</button>

<ul class="list-group">
  <ng-container *ngFor="let error of errorList">
    <li class="list-group-item">{{error['name']}} missing name tags
      <button (click)="startNameCorrection()"> Start Correction</button>
    </li>
    <li class="list-group-item">{{error['ref']}} missing ref tags
      <button (click)="startRefCorrection()"> Start Correction</button>
    </li>
  </ng-container>
</ul>
