<button *ngIf="isAuthenticated()" id="toggle-edit" class="btn btn-default on-map" [class.btn-primary]="editing"
        tooltip="Enable edit mode" container="body" (click)="toggleEditMode()" btnCheckbox>
  <i class="fa fa-pencil" aria-hidden="true"></i>
</button>
<button *ngIf="editing" id="edits-backward-btn" class="btn btn-default on-map"
        tooltip="Step back" container="body" (click)="stepBackward()" [disabled]="isInactive('backward')">
  <i class="fa fa-undo" aria-hidden="true"></i>
</button>
<button *ngIf="editing" id="edits-forward-btn" class="btn btn-default on-map"
        tooltip="Step forward" container="body" (click)="stepForward()" [disabled]="isInactive('forward')">
  <i class="fa fa-repeat" aria-hidden="true"></i>
</button>
<span *ngIf="editing" id="edits-count" class="label label-info on-map">
  <h6>{{currentEditStep }}/{{totalEditSteps }}</h6>
</span>

<div *ngIf="editing">
  <button id="stop-btn" type="button" class="btn btn-default on-map" [class.btn-primary]="creatingElementOfType === 'stop'"
          tooltip="Create a new stop" container="body" (click)="createElement('stop')" disabled>
    <img src="/images/transport/bus.png" alt="stop">
    Stop
  </button>
  <button id="platform-btn" type="button" class="btn btn-default on-map" [class.btn-primary]="creatingElementOfType === 'platform'"
          tooltip="Create a new platform" container="body" (click)="createElement('platform')">
    <img src="/images/transport/platform.png" alt="platform">
    Platform
  </button>
</div>

<div class="modal fade" bsModal #editModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="myEditModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Unsaved edits were found</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="continueEditing()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <button type="button" class="btn btn-lg btn-danger" tooltip="Delete changes" container="body" (click)="deleteEdits()">
          <span class="glyphicon glyphicon-trash"></span> Delete changes
        </button>
        <button type="button" class="btn btn-lg btn-success" tooltip="Continue editing" container="body" (click)="continueEditing()">
          <span class="glyphicon glyphicon-repeat"></span> Continue editing
        </button>
      </div>
    </div>
  </div>
</div>
