<button id="toggle-edit" class="btn btn-default on-map" container="body"
        *ngIf="isAuthenticated()"
        tooltip="{{ 'Switch edit mode' | translate }}"
        [class.btn-primary]="editing"
        (click)="toggleEditMode()" btnCheckbox>
  <i class="fa fa-pencil" aria-hidden="true"></i>
</button>
<button id="edits-backward-btn" class="btn btn-default on-map" container="body"
        *ngIf="editing"
        tooltip="{{ 'Step back' | translate }}"
        [disabled]="isInactive('backward')"
        (click)="stepBackward()">
  <i class="fa fa-undo" aria-hidden="true"></i>
</button>
<button id="edits-forward-btn" class="btn btn-default on-map" container="body"
        *ngIf="editing"
        tooltip="{{ 'Step forward' | translate }}Step forward"
        [disabled]="isInactive('forward')"
        (click)="stepForward()">
  <i class="fa fa-repeat" aria-hidden="true"></i>
</button>
<span *ngIf="editing" id="edits-count" class="label label-info on-map">
  <h6>{{currentEditStep }}/{{totalEditSteps }}</h6>
</span>

<div *ngIf="editing">
  <button id="stop-btn" type="button" class="btn btn-default on-map"
          tooltip="{{ 'Create a new stop' | translate }}" container="body"
          [class.btn-primary]="creatingElementOfType === 'stop'"
          (click)="createElement('stop')" disabled>
    <img src="/images/transport/bus.png" alt="stop">&nbsp;{{ 'Stop' | translate }}
  </button>
  <button id="platform-btn" type="button" class="btn btn-default on-map" container="body"
          tooltip="{{ 'Create a new platform' | translate }}"
          [class.btn-primary]="creatingElementOfType === 'platform'"
          (click)="createElement('platform')">
    <img src="/images/transport/platform.png" alt="platform">&nbsp;{{ 'Platform' | translate }}
  </button>
</div>

<div class="modal fade" bsModal #editModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="myEditModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{ 'Unsaved edits were found' | translate }}</h4>
        <button type="button" class="close pull-right" aria-label="Close"
                (click)="continueEditing()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <button type="button" class="btn btn-lg btn-danger" container="body"
                tooltip="{{ 'Delete current changes' | translate }}"
                (click)="deleteEdits()">
          <i class="fa fa-trash" aria-hidden="true"></i>
          &nbsp;{{ 'Delete' | translate }}
        </button>
        <button type="button" class="btn btn-lg btn-success" container="body"
                tooltip="{{ 'Continue with editing' | translate }}"
                (click)="continueEditing()" disabled>
          <i class="fa fa-repeat" aria-hidden="true"></i>
          &nbsp;{{ 'Continue' | translate }}
        </button>
        <h4>
            {{ 'We are sorry but it is not currently possible to restore any unsaved edits from the browser history. Use the save button more frequently, please.' | translate }}
        </h4>
      </div>
    </div>
  </div>
</div>
