<ul class="nav navbar-nav navbar-left visible-lg">
  <li>
    <a href="#">
      Mapper experience:
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default btn-xs"
                tooltip="{{ 'Enable/disable advanced features of the editor' | translate }}"
                container="body" placement="bottom"
                [class.btn-primary]="!(advancedExpMode$ | async)"
                (click)="changeExpMode(false)">
          Beginner
        </button>
        <button type="button" class="btn btn-default btn-xs"
                tooltip="{{ 'Enable/disable advanced features of the editor' | translate }}"
                container="body" placement="bottom"
                [class.btn-primary]="advancedExpMode$ | async"
                (click)="changeExpMode(true)">
          Advanced
        </button>
      </div>
    </a>
  </li>
  <li>
    <a href="#">
      Connection speed:
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default btn-xs"
                tooltip="{{ 'Enable/disable advanced features of the editor' | translate }}"
                container="body" placement="bottom"
                [class.btn-warning]="!(goodConnectMode$ | async)"
                (click)="changeConnMode(false)">
          Bad
        </button>
        <button type="button" class="btn btn-default btn-xs"
                tooltip="{{ 'Enable/disable advanced features of the editor' | translate }}"
                container="body" placement="bottom"
                [class.btn-success]="goodConnectMode$ | async"
                (click)="changeConnMode(true)">
          Good
        </button>
      </div>
    </a>
  </li>
  <li *ngIf="(editing$ | async)">
    <a href="#">
      <div class="btn-group" dropdown>
        <button dropdownToggle type="button" class="btn btn-default dropdown-toggle btn-xs"
                [class.btn-success]="(errorCorrectionMode$ | async)"> {{'Highlight Modes' | translate}}
          <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem"><a class="dropdown-item" (click)="toggleErrorMode('missing tag')">{{'Show missing names' | translate}}</a></li>
        </ul>
      </div>
    </a>
  </li>
</ul>
