<ul class="nav navbar-nav navbar-left visible-lg">
  <li>
    <a href="#">
      Mapper experience:
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default btn-xs"
                tooltip="{{ 'Enable/disable advanced features of the editor' | translate }}"
                container="body" placement="bottom"
                [class.btn-primary]="!(advancedExpMode$ | async)"
                (click)="changeExpMode(false)">
          Beginner
        </button>
        <button type="button" class="btn btn-default btn-xs"
                tooltip="{{ 'Enable/disable advanced features of the editor' | translate }}"
                container="body" placement="bottom"
                [class.btn-primary]="advancedExpMode$ | async"
                (click)="changeExpMode(true)">
          Advanced
        </button>
      </div>
    </a>
  </li>
  <li>
    <a href="#">
      Connection speed:
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default btn-xs"
                tooltip="{{ 'Enable/disable advanced features of the editor' | translate }}"
                container="body" placement="bottom"
                [class.btn-warning]="!(goodConnectMode$ | async)"
                (click)="changeConnMode(false)">
          Bad
        </button>
        <button type="button" class="btn btn-default btn-xs"
                tooltip="{{ 'Enable/disable advanced features of the editor' | translate }}"
                container="body" placement="bottom"
                [class.btn-success]="goodConnectMode$ | async"
                (click)="changeConnMode(true)">
          Good
        </button>
      </div>
    </a>
  </li>

  <li *ngIf="(editing$ | async) && (advancedExpMode$ | async)">
    <a href="#">
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default btn-xs"
                tooltip="{{ 'Route Creation Wizard' | translate }}"
                container="body" placement="bottom"
                [class.btn-success]="true"
                (click)="createAutomaticRoute()">
          <i class="fa fa-star" aria-hidden="true"></i>
         Route Creation Wizard
        </button>
      </div>
    </a>
  </li>
</ul>
