 <i (click)="back()" class="fa fa-chevron-left" aria-hidden="true" ></i>
<h4 class="text-danger" *ngIf="listOfRelationsForStop.length === 0">{{ 'There are no routes for the selected platform.' | translate }}</h4>
    <span *ngIf="editing$ | async">
      <button type="button" class="btn btn-default" container="body"
              tooltip="{{ 'Create a new empty route relation' | translate }}"
              (click)="createRoute()">
        <i class="fa fa-road" aria-hidden="true"></i>
        &nbsp;{{ 'Create a route' | translate }}
      </button>
      <button type="button" class="btn btn-default" container="body"
              tooltip="{{ 'Toggle members editing for a route in a map' | translate }}"
              [class.btn-primary]="membersEditing" [disabled]="!elementShouldBeEditable()"
              (click)="toggleMembersEdit()"
              btnCheckbox>
        <i class="fa fa-list-ol" aria-hidden="true"></i>
        &nbsp;{{ 'Change members' | translate }}
      </button>
    </span>
  <div class="content panel panel-body panel-default"
       *ngIf="listOfRelationsForStop.length !== 0  ">

    <div  class="medium">
      <div *ngFor="let rel of listOfRelationsForStop; trackBy: trackByFn;">
        <span class="explore" [class.selected]="currentElement && isSelected(rel.id)"
              (mouseover)="exploreAvailableRelation($event, rel)" (click)="exploreRelation($event, rel)">
          {{rel.tags.route || "#TYPE" }} Route {{rel.tags.ref || "#REF"}}: {{rel.tags.from || "#FROM"}} => {{rel.tags.to || "#TO"}}, {{rel.tags.name || "#NAME"}}
        </span>
      </div>
    </div>



  </div>

