<button id="download-data" class="btn btn-default on-map" [class.btn-primary]="downloading"
        tooltip="Download data from Overpass API" container="body" (click)="showDownloadModal()">
    <i class="fa fa-download" aria-hidden="true"></i>
</button>

<button *ngIf="isAuthenticated() && hasEdits()" id="upload-data" class="btn btn-default on-map" [class.btn-primary]="downloading"
        tooltip="Save changes to OSM" container="body" (click)="showUploadModal()">
    <i class="fa fa-upload" aria-hidden="true"></i> Save
</button>

<div id="modalDownload" class="modal fade" bsModal #downloadModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="myDownloadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Download data from Overpass API</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideDownloadModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="downloadQueryShort">Query:</label>
                    <input type="text" id="downloadQueryShort" class="form-control" [(ngModel)]="queryShort">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-info" disabled>Build query</button>
                    <button type="button" class="btn btn-primary" disabled>Build query and run</button>
                </div>
                <div class="form-group">
                    <label for="downloadQueryRaw">Raw query:</label>
                    <textarea class="form-control" id="downloadQueryRaw" rows="10" [(ngModel)]="queryRaw"></textarea>
                </div>
                <div class="form-group">
                    <label>Favorite queries:</label><br>
                    <span class="tag label label-info" *ngFor="let entry of favoriteQueries" (click)="setQuery($event)">{{entry.short}}</span>&nbsp;
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-danger pull-left" (click)="queryShort=''; queryRaw='';"
                            tooltip="Clear query window" container="body">Clear</button>
                    <button type="button" class="btn btn-success pull-right" (click)="requestData(queryRaw)"
                            tooltip="Download data with current query and continue" container="body">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalUpload" class="modal fade" bsModal #uploadModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="myUploadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Upload changes</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideUploadModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #uploadForm="ngForm">
                    <div class="form-group">
                        <label for="uploadChangeSummary">Summary:</label>
                        <textarea class="form-control" id="uploadChangeSummary" rows="10">
                            {{editsSummary | json}}
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label for="uploadComment">Comment:</label>
                        <input name="comment" type="text" id="uploadComment" class="form-control"
                               [(ngModel)]="comment">
                    </div>
                    <div class="form-group">
                        <label for="uploadSource">Sources:</label>
                        <input name="source" type="text" id="uploadSource" class="form-control"
                               [(ngModel)]="source">
                    </div>
                    <div>
                        <button class="btn btn-default on-map" (click)="verifyUpload()"
                                tooltip="Verify changeset consistency" container="body">
                            <i class="fa fa-check" aria-hidden="true"></i> Verify
                        </button>
                        <button type="button" class="btn btn-success pull-right" (click)="uploadData()"
                                tooltip="Confirm, upload and close OSM changeset" container="body"
                                [disabled]="!uploadForm.form.valid && !uploadForm.form.untouched">
                            <i class="fa fa-upload" aria-hidden="true"></i> Confirm upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
