<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header navbar-left">
            <a class="navbar-brand" href="#" scroll-to="welcome" offset="50"><span>OSM public transport editor</span></a>
        </div>
        <auth></auth>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" (click)="showHelpModal()">Help</a></li>
            <li><a href="#">About</a></li>
            <li><a href="https://osm-pt.blogspot.com/">Blog</a></li>
        </ul>
    </div>
</nav>

<div id="map">
    <navigator></navigator>
    <toolbar></toolbar>
</div>

<div id="sidebar">
    <accordion>
        <accordion-group #a1 [isOpen]="false">
            <div accordion-heading>
                Relation browser
                <i class="pull-right float-xs-right glyphicon"
                   [ngClass]="{'glyphicon-chevron-down': a1?.isOpen, 'glyphicon-chevron-right': !a1?.isOpen}"></i>
            </div>
            <relation-browser></relation-browser>
        </accordion-group>
        <accordion-group #a2 [isOpen]="true">
            <div accordion-heading>
                Tag browser
                <i class="pull-right float-xs-right glyphicon"
                   [ngClass]="{'glyphicon-chevron-down': a2?.isOpen, 'glyphicon-chevron-right': !a2?.isOpen}"></i>
            </div>
            <tag-browser></tag-browser>
        </accordion-group>
        <accordion-group #a3 [isOpen]="true">
            <div accordion-heading>
                Route browser
                <i class="pull-right float-xs-right glyphicon"
                   [ngClass]="{'glyphicon-chevron-down': a3?.isOpen, 'glyphicon-chevron-right': !a3?.isOpen}"></i>
            </div>
            <route-browser></route-browser>
        </accordion-group>
        <accordion-group #a4 [isOpen]="true">
            <div accordion-heading>
                Stop/platform data browser
                <i class="pull-right float-xs-right glyphicon"
                   [ngClass]="{'glyphicon-chevron-down': a4?.isOpen, 'glyphicon-chevron-right': !a4?.isOpen}"></i>
            </div>
            <stop-browser></stop-browser>
        </accordion-group>
    </accordion>
</div>

<div class="modal fade" bsModal #helpModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="myHelpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Help guide</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideHelpModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <carousel>
                    <slide>
                        <img src="../../images/help1.png" alt="First slide">
                        <div class="carousel-caption">
                            <h3>First slide label</h3>
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                    </slide>
                    <slide>
                        <img src="../../images/help2.png" alt="Second slide">
                        <div class="carousel-caption">
                            <h3>Second slide label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </slide>
                    <slide>
                        <img src="../../images/help3.png" alt="Third slide">
                        <div class="carousel-caption">
                            <h3>Third slide label</h3>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
    </div>
</div>
