<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header navbar-left">
            <a class="navbar-brand" href="#" scroll-to="welcome" offset="50"><span>OSM public transport editor</span></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Help</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
</nav>

<div id="map">
    <navigator></navigator>
    <toolbar></toolbar>
</div>

<div id="sidebar">
    <accordion>
        <accordion-group #a1 [isOpen]="false">
            <div accordion-heading>
                Relation browser
                <i class="pull-right float-xs-right glyphicon"
                   [ngClass]="{'glyphicon-chevron-down': a1?.isOpen, 'glyphicon-chevron-right': !a1?.isOpen}"></i>
            </div>
            <relation-browser></relation-browser>
        </accordion-group>
        <accordion-group #a2 [isOpen]="true">
            <div accordion-heading>
                Tag browser
                <i class="pull-right float-xs-right glyphicon"
                   [ngClass]="{'glyphicon-chevron-down': a2?.isOpen, 'glyphicon-chevron-right': !a2?.isOpen}"></i>
            </div>
            <tag-browser></tag-browser>
        </accordion-group>
        <accordion-group #a3 [isOpen]="true">
            <div accordion-heading>
                Route browser
                <i class="pull-right float-xs-right glyphicon"
                   [ngClass]="{'glyphicon-chevron-down': a3?.isOpen, 'glyphicon-chevron-right': !a3?.isOpen}"></i>
            </div>
            <route-browser></route-browser>
        </accordion-group>
        <accordion-group #a4 [isOpen]="true">
            <div accordion-heading>
                Stop/platform data browser
                <i class="pull-right float-xs-right glyphicon"
                   [ngClass]="{'glyphicon-chevron-down': a4?.isOpen, 'glyphicon-chevron-right': !a4?.isOpen}"></i>
            </div>
            <stop-browser></stop-browser>
        </accordion-group>
    </accordion>
</div>
