<nav class="navbar navbar-default navbar-fixed-top hidden-xs" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header navbar-left">
      <a class="navbar-brand" href="#" scroll-to="welcome" offset="50">
        <span class="text-capitalize">{{ 'OSM public transport editor' | translate }}</span></a>
    </div>
    <!--<ul class="nav navbar-nav navbar-left">-->
      <!--<li>-->
        <!--<a href="#">-->
          <!--<button type="button" class="btn btn-default btn-xs" [(ngModel)]="advancedMode"-->
                  <!--[class.btn-primary]="advancedMode" btnCheckbox (click)="changeMode()"-->
                  <!--tooltip="Enable/disable advanced features of the editor" container="body"-->
                  <!--tooltipPlacement="bottom">-->
            <!--Advanced mode-->
          <!--</button>-->
        <!--</a>-->
      <!--</li>-->
    <!--</ul>-->
    <lang></lang>
    <auth></auth>
    <ul class="nav navbar-nav navbar-right">
      <!--<li>-->
        <!--<a href="#" (click)="showHelpModal()">-->
          <!--<i class="fa fa-info" aria-hidden="true"></i>&nbsp;{{ 'Help' | translate }} </a>-->
      <!--</li>-->
      <li>
        <a href="https://github.com/dkocich/osm-pt-ngx-leaflet" target="_blank" rel="noopener">
          <i class="fa fa-github" aria-hidden="true"></i>&nbsp;{{ 'About' | translate}}</a>
      </li>
      <li>
        <a href="https://osm-pt.blogspot.com/" target="_blank" rel="noopener">
          <i class="fa fa-book"></i>&nbsp;{{ 'Blog' | translate}}</a>
      </li>
    </ul>
  </div>
</nav>

<div id="map">
  <div [ngBusy]="{busy: isLoading(), message: getStatus(), backdrop: false, delay: 500, minDuration: 500}"
       *ngIf="isLoading()"></div>
  <navigator></navigator>
  <toolbar></toolbar>
</div>

<div id="sidebar">
  <accordion>
    <accordion-group #a1 [isOpen]="false" [hidden]="!editingMode">
      <div accordion-heading class="text-center text-uppercase">
        <i class="fa fa-sitemap" aria-hidden="true"></i>&nbsp;{{ 'Relations' | translate }}
        <i class="pull-right float-xs-right glyphicon"
           [ngClass]="{'glyphicon-chevron-down': a1?.isOpen, 'glyphicon-chevron-right': !a1?.isOpen}"></i>
      </div>
      <relation-browser></relation-browser>
    </accordion-group>
    <accordion-group #a2 [isOpen]="" [hidden]="!editingMode">
      <div accordion-heading class="text-center text-uppercase">
        <i class="fa fa-tags" aria-hidden="true"></i>&nbsp;{{ 'Tags' | translate }}
        <i class="pull-right float-xs-right glyphicon"
           [ngClass]="{'glyphicon-chevron-down': a2?.isOpen, 'glyphicon-chevron-right': !a2?.isOpen}"></i>
      </div>
      <tag-browser></tag-browser>
    </accordion-group>
    <accordion-group #a3 [isOpen]="true">
      <div accordion-heading class="text-center text-uppercase">
        <i class="fa fa-road" aria-hidden="true"></i>&nbsp;{{ 'Routes' | translate }}
        <i class="pull-right float-xs-right glyphicon"
           [ngClass]="{'glyphicon-chevron-down': a3?.isOpen, 'glyphicon-chevron-right': !a3?.isOpen}"></i>
      </div>
      <route-browser></route-browser>
    </accordion-group>
    <accordion-group #a4 [isOpen]="true">
      <div accordion-heading class="text-center text-uppercase">
        <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;{{ 'Stops/platforms' | translate }}
        <i class="pull-right float-xs-right glyphicon"
           [ngClass]="{'glyphicon-chevron-down': a4?.isOpen, 'glyphicon-chevron-right': !a4?.isOpen}"></i>
      </div>
      <stop-browser></stop-browser>
    </accordion-group>
  </accordion>
</div>

<div class="modal fade" bsModal #helpModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="myHelpModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">&nbsp;{{ 'Help guide' | translate }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideHelpModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <carousel>
          <slide>
            <img src="../../images/help1.png" alt="First slide">
            <div class="carousel-caption">
              <h3>{{ 'First slide label' | translate }}</h3>
              <p>{{ 'slideText1' | translate }}</p>
            </div>
          </slide>
          <slide>
            <img src="../../images/help2.png" alt="Second slide">
            <div class="carousel-caption">
              <h3>{{ 'Second slide label' | translate }}</h3>
              <p>{{ 'slideText2' | translate }}</p>
            </div>
          </slide>
          <slide>
            <img src="../../images/help3.png" alt="Third slide">
            <div class="carousel-caption">
              <h3>{{ 'Third slide label' | translate }}</h3>
              <p>{{ 'slideText3' | translate }}</p>
            </div>
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</div>
