<ng-container *ngIf="error === 'missing name tag'">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Enter name' | translate }}</h4>
  </div>
  <div class="modal-body text-center">
    <h4 *ngIf="nameErrorObject.corrected === 'true'">
      {{'Already entered name' | translate }} : {{nameErrorObject.stop.tags.name}}
    </h4>
    <form>
      <div class="form-group">
        <input class="form-control" type="text" #v>
      </div>
    </form>
    <h4 *ngIf="suggestedNames.length !== 0">{{'Suggested Names' | translate }}</h4>
    <table *ngIf="suggestedNames.length !== 0" class="table table-condensed">
      <tr *ngFor="let name of suggestedNames">
        <td>
          <p class="pull-left">{{name}}</p>
        </td>
        <td>
          <button class="btn btn-default" (click)="v.value = name">{{'Use' | translate }}</button>
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <p>
      <button type="button" class="btn btn-default" (click)="close()">{{'Cancel' | translate }}</button>
      <button type="button" class="btn btn-primary" (click)="saveNameTag(v.value)">{{'Save' | translate}}</button>
    </p>
  </div>
</ng-container>


<ng-container *ngIf="error === 'missing ref tag'">
    <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Route References Correction' | translate }}</h4>
  </div>
  <div class="modal-body text-center">
    <div class="panel-group">
      <ng-container class="content panel panel-body panel-default">

        <ng-container *ngIf="viewAddedRefs()">
          <h5 class="pull-left"> {{'Added references' | translate }}
            <i class="fa fa-question-circle" aria-hidden="true" container="body"
               tooltip="{{ getTooltipText('added refs') | translate }}"></i>
          </h5>
        </ng-container>

        <ul class="list-group scrollable-panel" *ngIf="viewAddedRefs()">

          <li class="list-group-item list-group-item-success" *ngFor="let ref of newAddedRefs">
            {{'Ref' | translate }}: {{ref}}
            <a  class="badge badge-danger">
              <i class="fa fa-minus" aria-hidden="true"
                 (click)="removeNewRefValue(ref)"></i>
            </a>
          </li>


          <li class="list-group-item list-group-item-success" *ngFor="let rel of addedMissingSuggestionsRefs">
            {{'Ref' | translate }}: {{rel.tags.ref}} [ {{'Name' | translate }}: {{rel.tags.name}} ]
            <a  class="badge badge-danger">
              <i class="fa fa-minus" aria-hidden="true"
                 (click)="removeMissingSuggestedRefValue(rel)"></i>
            </a>
          </li>


          <li class="list-group-item list-group-item-success" *ngFor="let rel of addedFromNearbySuggestionsRefs">
            {{'Ref' | translate }}: {{rel.tags.ref}} [ {{'Name' | translate }}:  {{rel.tags.name}} ]
            <a  class="badge badge-danger">
              <i class="fa fa-minus" aria-hidden="true"
                 (click)="removeNearbySuggestedRefValue(rel)"></i>
            </a>
          </li>

        </ul>
      </ng-container>

      <ng-container class="content panel panel-body panel-default">
        <table class="table-responsive table-condensed table-bordered  wide-table">
          <tbody>
          <h5 class="pull-left"> {{'Enter new reference' | translate }}
            <i class="fa fa-question-circle" aria-hidden="true"
               tooltip="{{ getTooltipText('add new ref') | translate }}"></i>
          </h5>
          <tr>
            <td>
              <form>
                <div class="form-group">
                  <input type="number" class="form-control" #newlyAddedValue>
                </div>
              </form>
            </td>
            <td>
              <button class="btn btn-sm btn-success fa fa-plus"
                      aria-hidden="true"
                      (click)="addNewRefValue(newlyAddedValue.value)">
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-container>

      <ng-container class="content panel panel-body panel-default ">

        <ng-container *ngIf="!(missingRefRels.length === 0)">
          <h5 class="pull-left"> {{ 'Missing routes' | translate }}
            <i class="fa fa-question-circle" aria-hidden="true" container="body"
               tooltip=" {{ getTooltipText('missing refs') | translate }}"></i>
          </h5>
        </ng-container>


        <ul class="list-group scrollable-panel" *ngIf="!(missingRefRels.length === 0)">

          <li class="list-group-item list-group-item-info" *ngFor="let key of missingRefRels">
            Ref : {{key['tags']['ref']}} [ {{'Name' | translate }}: {{key['tags']['name']}} ]
            <a class="badge badge-success">
              <i class="fa fa-check" aria-hidden="true"
                 (click)="addMissingSuggestedRefValue(key)"></i>
            </a>
          </li>

        </ul>


        <ng-container *ngIf="(nearbyRels.length !== 0)">
          <h5 class="pull-left"> {{ 'Nearby routes' | translate }} <i class="fa fa-question-circle" aria-hidden="true" container="body"
                                                  tooltip="{{ getTooltipText('nearby rels') | translate }}"></i>
          </h5>
        </ng-container>
        <ul *ngIf="nearbyRels.length !== 0" class="list-group scrollable-panel">


          <li class="list-group-item list-group-item-info" *ngFor="let key of nearbyRels">

            Ref : {{key['tags']['ref']}} [ {{'Name' | translate }}: {{key['tags']['name']}} ]
            <a class="badge badge-success">
              <i class="fa fa-check" aria-hidden="true"
                 (click)="addNearbySuggestedRefValue(key)"></i>
            </a>
          </li>


        </ul>

      </ng-container>
      <div class="modal-footer">
        <p>
          <button type="button" class="btn btn-default" (click)="close()">{{'Cancel' | translate }}</button>
          <button type="button" class="btn btn-primary" (click)="saveRefTag()">{{'Save' | translate}}</button>
        </p>
      </div>

    </div>
  </div>
</ng-container>
